body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 30px 40px;
  z-index: 100;
  padding-left: 20px;
}

.header-wrap__logo {
  position: absolute;
  left: 30px;
  cursor: pointer;
  top: 10px;
}

.header-wrap__hamburger {
  position: absolute;
  right: 30px;
  cursor: pointer;
  top: 25px;
}

.header__lang {
  position: absolute;
  text-align: center;
  top: 65px;
  right: 25px;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.header__lang a {
  font-size: 16px;
  padding: 9px 7px;
}

.header__lang a:first-child {
  color: #000;
  background: #fff;
  border: 2px solid #000;
  margin-bottom: 10px;
}

.header__lang a:last-child {
  color: #fff;
  background: #000;
}

.header__lang.active {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.header-nav__lang {
  opacity: 0;
}

.header-nav__lang a {
  display: inline-block;
  font-size: 16px;
  padding: 9px 7px;
  width: 45px;
}

.header-nav__lang a:first-child {
  padding: 7px 7px;
  color: #000;
  background: #fff;
  border: 2px solid #000;
  margin-right: 10px;
}

.header-nav__lang a:last-child {
  color: #fff;
  background: #000;
}

.header-modal {
  position: fixed;
  top: -110%;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #fff;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.header-modal.active {
  top: 0;
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  text-align: center;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  padding-bottom: 120px;
}

.header-nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 97px;
  width: 46px;
  height: 35px;
  background: url(../img/nav-icon.svg);
}

.header-nav li > a {
  position: relative;
  font-size: 48px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.header-nav li > a:after {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  bottom: 0;
  width: 0;
  background: #000;
  -webkit-transition: width 200ms;
  transition: width 200ms;
}

.header-nav li > a:hover:after {
  width: 100%;
}

.hamburger__line {
  width: 40px;
  height: 2px;
  background-color: #000;
  display: block;
  margin-bottom: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger__line:last-child {
  width: 30px;
  margin-left: 10px;
}

.main {
  position: relative;
  background: url(../img/main-bg.png) no-repeat 0 0;
  background-size: cover;
  height: 60vh;
  margin: 140px 0 140px;
  z-index: -1;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title__text {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 10px;
}

.main-title__sub {
  font-size: 40px;
}

.main-pic__img {
  background: url(../img/main-pic.svg) no-repeat;
  background-size: contain;
  height: 600px;
  width: 650px;
  z-index: -2;
}

.content-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-grid > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.content-grid img {
  padding: 5px;
  max-width: 100%;
}

.work {
  padding: 100px 0 100px;
  text-align: center;
}

.work__text {
  max-width: 720px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.work__link {
  display: block;
  width: 260px;
  height: 60px;
  line-height: 60px;
  border-radius: 29px;
  background-color: #40d3ad;
  color: #fff;
  margin: 0 auto;
}

.work__mail {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 100px;
}

.work__mail span {
  color: #c536a5;
  font-size: 17px;
}

.work-gallery {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-gallery a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.work-gallery a img {
  max-width: 100%;
  padding: 5px;
}

.footer {
  padding: 60px 0;
  border-top: 1px solid #e9e9ea;
  font-size: 14px;
  font-weight: 500;
}

.footer.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-wrap {
  margin: 0 50px;
}

.footer-wrap-contacts {
  float: left;
}

.footer__tel {
  margin-top: 15px;
}

.footer-wrap-web {
  float: right;
  text-align: right;
}

.footer__social a {
  display: inline-block;
  padding-bottom: 3px;
}

.footer__social__ins {
  color: #c536a5;
  margin-right: 15px;
}

.footer__social__ins:hover {
  border-bottom: 1px solid #c536a5;
}

.footer__social__face {
  color: #475993;
  border-bottom: 1px solid #475993;
}

.foooter__copy {
  margin-top: 15px;
}

@media (max-width: 1295px) {
  .main-title__text {
    font-size: 50px;
  }
  .main-title__sub {
    font-size: 30px;
  }
  .main-pic__img {
    height: 500px;
    width: 550px;
  }
}

@media (max-width: 1040px) {
  .main {
    margin: 0;
  }
  .main-wrap {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .main-pic {
    position: absolute;
    right: -78px;
    bottom: 40px;
  }
  .main-pic__img {
    height: 400px;
    width: 400px;
  }
  .main-pic__img {
    background: url(../img/main-bg-small.svg) no-repeat;
    background-size: contain;
    height: 260px;
    width: 220px;
  }
}

@media (max-width: 920px) {
  .main-title {
    width: 460px;
  }
}

@media (max-width: 840px) {
  .header-nav {
    top: 40%;
  }
  .header-nav > a {
    font-size: 30px;
  }
  .footer-wrap-contacts {
    float: none;
    text-align: center;
  }
  .footer-wrap-web {
    float: none;
    text-align: center;
    margin-top: 30px;
  }
  .footer {
    padding: 50px 0;
  }
}

@media (max-width: 630px) {
  .header__lang {
    opacity: 0 !important;
  }
  .main {
    overflow: hidden;
  }
  .content-grid {
    display: block;
  }
  .content-grid img {
    width: 100%;
  }
  .main-title__text {
    font-size: 30px;
  }
  .main-title__sub {
    font-size: 24px;
  }
  .main-pic {
    right: -10px;
    bottom: -40px;
  }
  .header-nav {
    padding-bottom: 70px;
  }
  .header-nav__lang {
    opacity: 1;
  }
  .work {
    padding: 60px 0 30px;
  }
  .work__mail {
    margin-top: 100px;
  }
  .work-gallery {
    display: block;
  }
  .work-gallery a {
    display: inline-block;
    width: 49%;
  }
  .work-gallery a:nth-child(4) {
    display: none;
  }
  .footer-wrap {
    margin: 0;
  }
  .footer__adress {
    line-height: 2;
  }
}

@media (max-width: 400px) {
  .main-title__sub {
    width: 279px;
    margin: 0 auto;
  }
  .footer {
    padding: 35px 0;
  }
}
